version: "3.7"

services:
  carpool_server:
    container_name: carpool_server
    build:
      context: .
    ports:
      - 1337:1337
    environment:
      - "CARPOOL_DB_HOST=postgres"
      - "CARPOOL_DB_PORT=5432"
      - "CARPOOL_DB_USERNAME=local"
      - "CARPOOL_DB_PASSWORD=local"
      - "CARPOOL_DB_NAME=carpool"
    depends_on:
      - postgres
      - redis

  postgres:
    container_name: carpool_postgres
    image: postgres:11
    ports:
      - 5432:5432
    environment:
      - "POSTGRES_PASSWORD=local"
      - "POSTGRES_USER=local"
      - "POSTGRES_DB=carpool"

  adminer:
    container_name: carpool_adminer
    image: wodby/adminer:4.7
    ports:
      - 9000:9000
    environment:
      - "ADMINER_DEFAULT_DB_DRIVER=pgsql"
      - "ADMINER_DEFAULT_DB_HOST=postgres"
      - "ADMINER_DEFAULT_DB_NAME=carpool"
    depends_on:
      - postgres

  redis:
    container_name: carpool_redis
    image: redis:5.0.6
    ports:
      - 6379:6379

  redis_commander:
    container_name: carpool_redis_commander
    image: rediscommander/redis-commander
    environment:
      - "REDIS_HOST=redis"
      - "REDIS_PORT=6379"
    ports:
      - "8081:8081"
    depends_on:
      - redis
